@media only screen and (max-width:1920px) {
	.shep-right, .shep-left {
		width: 450px;
	}
}

@media only screen and (max-width:1366px) {
	.shep-right, .shep-left {
		width: 350px;
	}
}

@media only screen and (max-width:1199px) {
	.main-header .navbar-light .navbar-nav .nav-link {
		margin-left: 20px;
	}
	.about-col img {
		margin-bottom: 0;
	}
	.about-area {
		padding: 150px 0 120px;
	}
	.about-col {
		margin-bottom: 30px;
	}
	.venue-details {
		padding: 20px 20px;
	}
	.info-box {
		padding: 40px 20px;
	}
}

@media only screen and (max-width:991px) {
	.center991 {
		text-align: center !important;
		float: none !important;
	}
	.main-header .navbar-collapse {
		background: #EFF7FE;
		margin-top: 10px;
	}
	.main-header .navbar-light .navbar-nav .nav-link {
		color: #333333;
		padding: 6px 0;
		margin-left: 15px;
		margin-right: 15px;
		text-align: right;
	}
	.main-header .navbar-light .navbar-toggler {
		color: #dddddd;
    	border-color: #dddddd;
    	border-radius: 0;
    	background: rgba(255,255,255,0.5);
	}
	.shep-right, .shep-left {
	    width: 250px;
	}
	.about-area, .venue-area, .counter-area, .blog-area, .sponsor-area, .contact-area {
	    padding: 100px 0 70px;
	}
	.organizer-area, .ticket-area, .schedule-area {
		padding: 100px 0;
	}
	.speakers-area {
		padding: 100px 0 90px;
	}
	.footer-area {
		padding: 100px 0 0;
	}
	.hero-col h2 {
		font-size: 50px;
	}
	
	.footer-col ul li {
		margin: 0 5px;
	}
	.pricingTable .pricingTable-header:before {
		-webkit-transform: rotate(-39deg);
	    -ms-transform: rotate(-39deg);
	    -o-transform: rotate(-39deg);
	    transform: rotate(-39deg);
	}
	.pricing-table {
		padding: 100px 0 70px;
	}
	.gallery-area {
		padding: 100px 0;
	}

}

@media only screen and (max-width:767px) {
	.center767 {
		text-align: center;
		float: none;
	}
	.hero-col h2 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.hero-col h4 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.organizer-col h2 {
		font-size: 40px;
	}
	.organizer-col h1 {
		font-size: 48px;
	}
	.section-title h2 {
		font-size: 36px;
	}
	.our-speaker:hover .social {
	    top: 50%;
	}
	.my-select {
		margin-bottom: 30px;
	}
	.ticket-area .btn {
		margin-top: 0;
	}
	.table-responsive {
		display: block;
    	width: 100%;
    	overflow-x: auto;
	}
	.venue-details ul li {
		font-size: 16px;
	}



}

@media only screen and (max-width:600px) {
	.full-wd600 {
		width: 100%;
	}
	.hero-col {
		padding: 20px 10px 30px;
	}
	.our-speaker:hover .social {
	    top: 75%;
	}
	.our-speaker .team-content:before {
		display: none;
	}
	.our-speaker .team-content {
		text-align: center;
	}
	.our-speaker .social {
		transform: translateY(-50%) rotate(0deg);
	}
	.pricingTable .pricingTable-header:before {
		left: -35%;
	}
	
}


@media only screen and (max-width:575px) {
	.hero-col:before, .hero-col:after {
		display: none;
	}
	.hero-col {
		padding: 0;
	}
	.countdown-container .countdown-value {
		margin: 0 5px;
		padding: 10px 10px;
		font-size: 24px;
	}
	.shep-right, .shep-left {
	    width: 200px;
	}
	.schedule-box {
		padding-left: 0;
		padding: 20px;
	}
	.schedule-box img {
		position: relative;
	}
	.schedule-box h3 {
		line-height: 25px;
	}
}


@media only screen and (max-width:480px) {
	.organizer-col h1 {
	    font-size: 30px;
	    margin-bottom: 20px;
	}
	.organizer-col h2 {
	    font-size: 25px;
	    margin-bottom: 25px;
	}
	.about-col h2 {
		font-size: 30px;
	}
	.about-col .cd-headline {
		font-size: 15px;
	}
	.section-title h2 {
	    font-size: 24px;
	}
	.footer-col ul li a img {
		width: 35px;
	}
	.comment-item {
		margin-left: 0;
		padding-left: 0;
	}
	.comment-item img {
		position: relative;
		margin-bottom: 20px;
	}
	
}

@media only screen and (max-width:420px) {
	.countdown-container .countdown-value:before, 
	.countdown-container .countdown-value:after {
		display: none;
	}
	.countdown-container {
		width: 50%;
		float: left;
		margin: 0;
		margin-bottom: 10px;
	}
	.countdown-container .countdown-value {
		margin: 0;
		padding: 0;
		font-size: 20px;
		text-align: center;
		margin: 0 auto;
	}
	.countdown-container .countdown-heading {
		font-size: 20px;
		width: 100%;
		display: block;
		text-align: center;
		display: block !important;
	}
	.main-header .navbar-brand {
	    width: 150px;
	}
	.our-speaker:hover .social {
	    top: 60%;
	}
}

@media only screen and (max-width:375px) {
	.hero-col h2 {
		font-size: 26px;
	}
	.hero-col h4 {
		font-size: 16px;
	}
	.organizer-col h1 {
	    font-size: 24px;
	    margin-bottom: 20px;
	}
	.about-col h2 {
	    font-size: 26px;
	}
	.footer-col ul li {
	    margin: 0 2px;
	}


}


@media only screen and (max-width:320px) {
	
}
