body {
	direction: rtl;
}
.speakers-area {
	direction: ltr;
}
.main-header .navbar-light .navbar-nav .nav-link {
	margin-left: 0;
	margin-right: 25px;
}
.venue-details, .share-links {
	text-align: right;
}
.schedule-table tbody tr td {
	text-align: right;
}
.blog-col {
	text-align: right;
}
.info-bar ul li {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.info-bar ul li i {
	margin-left: 5px;
	margin-right: 0;
}

