@charset "utf-8";
/* CSS Document 
Project Name: Sommelon    
Version:  1.0   
Author Name: xcodesolution (https://themeforest.net/user/xcodesolution)
*/

/* 

01. Imported Fonts
02. General CSS 
        * Common CSS
        * Form CSS
        * Btn CSS
        * Background Over Layer CSS
        * Default Title CSS
        * Preloader CSS
        * Scrollup CSS
03. Header CSS
04. Hero CSS
05. Slider CSS
06. About CSS
07. Organizer CSS
08. Speakers CSS
09. Pricing CSS
10. Ticket CSS
11. Schedule CSS
12. Venue CSS
13. Gallery CSS
14. Counter CSS
15. Blog CSS
        * Blog Single CSS
16. Sponsor CSS
17. Contact CSS
18. Page title CSS
19. Footer CSS
20. Dark Version CSS 
21. Demo List Page CSS 

*/

/*****-----*****-----*****-----*****
    01. Imported CSS
*****-----*****-----*****-----*****/

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,600i,700,700i,800,800i,900,900i');

/*****-----*****-----*****-----*****
    02. General CSS 
*****-----*****-----*****-----*****/
body {
    background: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #333333;
    overflow-x: hidden;
}
/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    color: #2d2d2d;
    line-height: 1.1;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: capitalize;
}
p {
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
}
a { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* Form CSS */
.form-control {
    height: 45px;
    margin-bottom: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.form-control:focus {
    border-color: #999999;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
::-webkit-input-placeholder {
    color: #676767 !important;
}
::-moz-placeholder {
    color: #676767 !important;
}
::-o-placeholder {
    color: #676767 !important;
}
:-ms-input-placeholder {
    color: #676767 !important;
}
input:-moz-placeholder {
    color: #676767 !important;
}

.ticket-area ::-webkit-input-placeholder {
    color: #111111 !important;
}
.ticket-area ::-moz-placeholder {
    color: #111111 !important;
}
.ticket-area :-ms-input-placeholder {
    color: #111111 !important;
}
.ticket-area :-moz-placeholder {
    color: #111111 !important;
}

.footer-area ::-webkit-input-placeholder {
    color: #111111 !important;
}
.footer-area ::-moz-placeholder {
    color: #111111 !important;
}
.footer-area :-ms-input-placeholder {
    color: #111111 !important;
}
.footer-area :-moz-placeholder {
    color: #111111 !important;
}


.section-default {
    padding: 120px 0 90px;
    position: relative;
}
.col-default {
    margin-bottom: 30px;
}

/* Btn CSS */
.btn-style{
    background: #111111;
    color: #ffffff;
    /*font-weight: 600;*/
    border: none;
    padding: 15px 25px;
    border-radius: 0;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.6s ease 0s;
}
.btn-style:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0;
    border-style: solid;
    z-index: -1;
    transition: all 0.6s ease 0s;
}
.btn-style:after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 0;
    border-style: solid;
    z-index: -1;
    transition: all 0.6s ease 0s;
}
.btn-style:hover:before{
    border-width: 130px 0 0 130px;
}
.btn-style:hover:after{
    border-width: 0 0 130px 130px;
}
.btn-style:hover{
    color:#ffffff;
}
.btn-color:before{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e59500;
}
.btn-color:after{
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e59500;
}


/* Background Over Layer CSS */
.over-layer-black {
    position: relative;
}
.over-layer-black:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.over-layer-white {
    position: relative;
}
.over-layer-white:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.85);
}



/* Section Title CSS */
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.section-title h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 0;
    position: relative;
    display: inline-block;
    padding: 8px 18px;
}
.section-title h2 span {
    color: #e59500;
}
.section-title h2:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border: 3px solid #e59500;
    border-bottom: none;
    border-right: none;
    width: 40px;
    height: 40px;
}
.section-title h2:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 3px solid #e59500;
    border-top: none;
    border-left: none;
    width: 40px;
    height: 40px;
}


/* Preloader CSS */
#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 99999999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
    background: #ffffff url('../images/preloader.gif') no-repeat center center; 
}




/* Scroll To Top CSS Start */
#dyscrollup-btn {
    z-index: 999999;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #ffffff;
    text-align: center;
}
#dyscrollup-btn:before {
    content: "\f0aa";
    font-family: FontAwesome;
    position: absolute;
    left: 0;
    bottom: 10px;
    color: #e59500;
    font-size: 45px;
}



/*****-----*****-----*****-----*****
    03. Header CSS
*****-----*****-----*****-----*****/
.main-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
}
.main-header .navbar-brand {
    width: 200px;
}
.main-header .navbar-brand .logo-white {
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .navbar-brand .logo-black {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .scrolling-header .navbar-brand .logo-white {
    display: none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .scrolling-header .navbar-brand .logo-black {
    display: block;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .navbar-light .navbar-nav .nav-link {
    color: #f2f2f2;
    text-transform: capitalize;
    padding: 20px 0;
    margin-left: 25px;
    letter-spacing: 0.5px; 
}
.main-header .navbar-light .navbar-nav .active>.nav-link, 
.main-header .navbar-light .navbar-nav .nav-link.active, 
.main-header .navbar-light .navbar-nav .nav-link.show, 
.main-header .navbar-light .navbar-nav .show>.nav-link {
    color: #e59500;
}
.main-header .fixed-top {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .scrolling-header {
    background: #ffffff;
    -webkit-box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.main-header .navbar-light.scrolling-header .navbar-nav .nav-link {
    color: #333333;
}
.main-header .navbar-light.scrolling-header .navbar-nav .active>.nav-link, 
.main-header .navbar-light.scrolling-header .navbar-nav .nav-link.active, 
.main-header .navbar-light.scrolling-header .navbar-nav .nav-link.show, 
.main-header .navbar-light.scrolling-header .navbar-nav .show>.nav-link {
    color: #e59500;
}
.logo-white {
    display: block;
}
.logo-black {
    display: none;
}
.main-header .navbar-light.scrolling-header .logo-white {
    display: none;
}
.main-header .navbar-light.scrolling-header .logo-black {
    display: block;
}


/* NavBar Fixed CSS */
.top-nav-collapse {
    background: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.top-nav-collapse .navbar-nav {
    text-align: center;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



/*****-----*****-----*****-----*****
    04. Hero CSS
*****-----*****-----*****-----*****/
.hero-area {
    height: 100vh;
    text-align: center;
    position: relative;
}
.hero-area.over-layer-black:before {
    background: rgba(0,0,0,0.6);
}
.hero-content {
    width: 100%;
    height: 100%;
    display: table;
}
.hero-content-center {
    vertical-align: middle;
    display: table-cell;
}
.hero-content-two {
    
}
.hero-content-center-two {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); 
}
.mb20 {
    margin-bottom: 20px;
}
.hero-col {
    position: relative;
    display: inline-block;
    padding: 30px 40px 40px;
}
.hero-col:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border: 3px solid #e59500;
    border-bottom: none;
    border-right: none;
    width: 150px;
    height: 150px;
}
.hero-col:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 3px solid #e59500;
    border-top: none;
    border-left: none;
    width: 150px;
    height: 150px;
}
.hero-col h2 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
    font-size: 60px;
    color: #f3f3f3;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
.hero-col h2 span {
    color: #e59500;
}
.hero-col h4 {
    font-size: 30px;
    color: #e59500;
    margin-bottom: 30px;
}
.countdown {
    text-transform: uppercase;
}
.countdown > div { display: inline-block; }
.countdown > div > span {
    display: block;
    text-align: center;
}
.countdown-container { 
    margin: 0 3px;
}
.countdown-container .countdown-heading {
    font-size: 16px;
    color: #ffffff;
}
.countdown-container .countdown-value {
    width: 80px;
    font-size: 30px;
    background: transparent;
    padding: 15px 15px;
    color: #ffffff;
    margin: 0 10px;
    margin-top: 10px;
    border-radius: 0;
    position: relative;
}
.countdown-container .countdown-value:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    border: 2px solid #e59500;
    border-bottom: none;
    border-right: none;
    width: 30px;
    height: 30px;
}
.countdown-container .countdown-value:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    border: 2px solid #e59500;
    border-top: none;
    border-left: none;
    width: 30px;
    height: 30px;
}
.hero-col .cd-headline {
    color: #f3f3f3;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: normal;
}
.scroll-animate-icon {
    position: relative;
    z-index: 999;
}
.scroll-animate-icon i {
    width: 50px;
    height: 50px;
    color: #e59500;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    margin-left: -25px;
}


/*****-----*****-----*****-----*****
    05. Slider CSS
*****-----*****-----*****-----*****/
.slider-area {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
}
#slider {
    width: 100%;
    height: 100vh;
}
.slider-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.slider-area .hero-content {
    z-index: 999 !important;
}



/*****-----*****-----*****-----*****
    06. About CSS
*****-----*****-----*****-----*****/
.about-area {
    padding: 150px 0 120px;
    position: relative;
}
.shep-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 350px;
    height: auto;
}
.shep-left {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    width: 350px;
    height: auto;
}
.mb20 {
    margin-bottom: 20px;
}
.about-col h2 {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-bottom: 30px;
}
.about-col h2 span {
    color: #e59500;
}
.about-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
}
.about-col .cd-headline {
    font-size: 24px;
    font-weight: 500;
    background: #e59500;
    color: #f3f3f3;
    padding: 5px 15px;
    margin-top: 30px;
    display: inline-block;
    /*border-radius: 5px;*/
}
.about-col img {
    
}
.history-carousel {
    margin-top: 30px;
    position: relative;
}
.about-col .owl-theme .owl-nav [class*=owl-] {
    padding: 5px 15px;
    border-radius: 0;
    color: #ffffff;
    font-size: 20px;
    background: #e59500;
}
.about-col .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -20px;
}
.about-col .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -20px;
}



/*****-----*****-----*****-----*****
    07. Organizer CSS
*****-----*****-----*****-----*****/
.organizer-area {
    padding: 150px 0;
}
.organizer-area.over-layer-black:before {
    background: rgba(0,0,0,0.6);
}
.organizer-col {
    text-align: center;
}
.organizer-col h2 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #f3f3f3;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.organizer-col h1 {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #e59500;
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
.organizer-col ul li {
    display: inline-block;
    color: #f3f3f3;
    margin: 0 5px;
    font-size: 18px;
}
.organizer-col ul li i {
    margin-right: 5px;
    color: #e59500;
}



/*****-----*****-----*****-----*****
    08. Speakers CSS
*****-----*****-----*****-----*****/
.speakers-area {
    padding: 150px 0 140px;
    position: relative;
}
.speakers-area.over-layer-black:before {
    background: rgba(0,0,0,0.5);
}
.speaker-box {
    
}
.our-speaker{
    overflow: hidden;
    position: relative;
}
.our-speaker:after{
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.our-speaker:hover:after{
    top: 0;
    opacity: 1;
}
.our-speaker img{
    width: 100%;
    height: auto;
}
.our-speaker .social{
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 22;
    transform: translateY(-50%) rotate(-12deg);
    transition: all 0.8s ease 0s;
}
.our-speaker:hover .social{ top: 60%; }
.our-speaker .social li{ display: inline-block; }
.our-speaker .social li a{
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #e59500;
    font-size: 15px;
    color: #fff;
    margin: 0 5px;
}
.our-speaker .team-content{
    width: 100%;
    padding: 20px 25px;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.our-speaker:hover .team-content{ background: #f5f5f5; }
.our-speaker .team-content:before{
    content: "";
    width: 100%;
    border-right: 420px solid #f5f5f5;
    border-top: 60px solid transparent;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 0;
}
.our-speaker:hover .team-content:before{ border-right-color: #f5f5f5; }
/*.our-speaker .team-content:after{
    content: "";
    width: 3px;
    height: 50%;
    background: #e59500;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}*/
.our-speaker .title{
    font-size: 22px;
    color: #333;
    margin: 0;
}
.our-speaker .post{
    display: block;
    font-weight: 400;
    color: #888;
    margin-top: 3px;
    text-transform: capitalize;
}
.speakers-area .owl-theme .owl-nav [class*=owl-] {
    padding: 5px 15px;
    border-radius: 0;
    color: #ffffff;
    font-size: 20px;
    background: #e59500;
}
.speakers-area .owl-carousel .owl-nav .owl-next {
    position: absolute;
    right: 10px;
    top: -5px;
}
.speakers-area .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
    top: -5px;
}


/*****-----*****-----*****-----*****
    09. Pricing CSS
*****-----*****-----*****-----*****/
.pricing-table {
    background: #EFF7FE;
    padding: 150px 0 120px;
    overflow: hidden;
}
.pricing-table .default-title h2 {
    color: #ffffff;
}
.pricing-table .default-title p {
    color: #cacaca;
}
.pricingTable{
    background: #fff;
    padding-bottom: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
}
.pricingTable .pricingTable-header{
    margin-bottom: 40px;
    position: relative;
    z-index: 1;
}
.pricingTable .pricingTable-header:before{
    content: "";
    width: 100%;
    height: 160%;
    background: #18afe6;
    position: absolute;
    top: -60%;
    left: -30%;
    z-index: -1;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
.pricingTable .pricingTable-header:after{
    content: "";
    width: 100%;
    height: 190%;
    background: #e59500;
    position: absolute;
    top: -76%;
    right: -16%;
    z-index: -2;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.pricingTable .price-value{
    text-align: left;
    display: inline-block;
    width: 50%;
    padding: 30px 0;
    float: left;
    font-size: 30px;
    color: #fff;
    line-height: 20px;
    position: relative;
    top: 10px;
    left: 20px;
}
.pricingTable .currency{
    font-size: 20px;
    position: relative;
    top: -10px;
    right: -3px;
}
.pricingTable .title{
    display: inline-block;
    width: 50%;
    padding: 30px 0;
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 20px;
    text-transform: uppercase;
    position: relative;
    top: 10px;
    right: 7px;
}
.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    text-align: center;
    clear: both;
}
.pricingTable .pricing-content li{
    font-size: 16px;
    color: #828282;
    line-height: 50px;
    border-bottom: 1px solid #eaeaea;
}




/*****-----*****-----*****-----*****
    10. Ticket CSS
*****-----*****-----*****-----*****/
.ticket-area {
    padding: 150px 0;
    position: relative;
}
.ticket-area.over-layer-black:before {
    background: rgba(0,0,0,0.6);
}
.ticket-area .section-title h2 {
    color: #f3f3f3;
}
.ticket-col {
    text-align: center;
}
.ticket-col p {
    color: #f3f3f3;
    margin-bottom: 20px;
}
.ticket-area .form-control {
    background: rgba(255, 255, 255, 0.6);
    color: #111111;
}
.my-select {
    width: 100%;
    height: 45px;
    background: rgba(255, 255, 255, 0.6);
    color: #111111;
}
.ticket-area .btn {
    margin-top: 30px;
}


/*****-----*****-----*****-----*****
    11. Schedule CSS
*****-----*****-----*****-----*****/
.schedule-area {
    padding: 150px 0;
    position: relative;
}
.tab-panels ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.tab-panels ul li {
    font-size: 16px;
  list-style-type: none;
  display: inline-block;
  background: #000000;
  margin: 0;
  padding: 3px 10px;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
}
.tab-panels ul li span {
    font-size: 12px;
    line-height: 16px;
    display: block;
    color: #4f4f4f;
    font-weight: bold;
}
.tab-panels ul li.active {
  color: #fff;
  background: #e59500;
}

.tab-panels .panel {
  display: none;
  background: #EFF7FE;
  padding: 30px;
  padding-bottom: 0;
}
.tab-panels .panel.active { display: block; }
.schedule-box {
    position: relative;
    padding-left: 120px;
    margin-bottom: 30px;
    min-height: 100px;
    background: #ffffff;
}
.schedule-box img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
.schedule-box h4 {
    font-size: 16px;
    color: #e59500;
    padding-top: 10px;
}
.schedule-box h3 {
    font-size: 18px;
}



/*****-----*****-----*****-----*****
    12. Venue CSS
*****-----*****-----*****-----*****/
.venue-area {
    padding: 150px 0 120px;
    background: #eff7fe;
    overflow-x: hidden;
}
.venue-col {
    margin-bottom: 30px;
}
.venue-details {
    padding: 30px 20px;
    background: #ffffff;
}
.venue-details ul li {
    margin-bottom: 10px;
    font-size: 18px;
}
.venue-details ul li:last-child {
    margin-bottom: 0;
}
.venue-details ul li i {
    color: #e59500;
    font-size: 18px;
    width: 20px;
}
.share-links {
    margin-top: 30px;
}
.share-links ul li {
    display: inline-block;
}
.share-links ul li a i {
    width: 40px;
    height: 40px;
    background: #ffffff;
    color: #e59500;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-right: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.share-links ul li a i:hover {
    color: #ffffff;
    background: #e59500;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}


/*****-----*****-----*****-----*****
    13. Gallery CSS
*****-----*****-----*****-----*****/
.gallery-area {
    padding: 150px 0;
    overflow-x: hidden;
}
.p-none {
    padding: 0;
}
.box{
    overflow: hidden;
    position: relative;
}
.box img{
    width: 100%;
    height: auto;
}
.box .box-content{
    padding: 25% 5%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.box:hover .box-content{ opacity: 1; }
.box:before,
.box:after,
.box .box-content:before,
.box .box-content:after{
    content: "";
    width: 50%;
    height: 50%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.box:after{ top: 50%; }
.box .box-content:before,
.box .box-content:after{
    top: 0;
    left: 50%;
    z-index: -1;
}
.box .box-content:after{ top: 50%; }
.box:hover:before{
    left: 50%;
    opacity: 1;
}
.box:hover:after{
    top: 0;
    opacity: 1;
}
.box:hover .box-content:before{
    top: 50%;
    opacity: 1;
}
.box:hover .box-content:after{
    left: 0;
    opacity: 1;
}
.box .title{
    font-size: 24px;
    color: #e59500;
    text-transform: capitalize;
    margin: 0 0 20px 0;
}
.box .post{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px 0;
}
.box .icon{
    padding: 0;
    margin: 0;
    list-style: none;
}
.box .icon li{
    display: inline-block;
    margin: 0 5px 0 0;
}
.box .icon a{
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 15%;
    background: #fff;
    color: #2d2c2c;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.box .icon a:hover{
    background: transparent;
    color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 3px #fff, -1px -1px 3px #fff;
}


/*****-----*****-----*****-----*****
    14. Counter CSS
*****-----*****-----*****-----*****/
.counter-area {
    padding: 150px 0 120px;
    position: relative;
}
.counter-col {
    margin-bottom: 30px;
    padding: 50px 20px;
    text-align: center;
    position: relative;
}
.counter-col:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 60px;
    height: 60px;
    border: 2px solid #e59500;
    border-bottom: none;
    border-right: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.counter-col:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 60px;
    height: 60px;
    border: 2px solid #e59500;
    border-top: none;
    border-left: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.counter-col:hover:before, .counter-col:hover:after {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.counter-col .counter {
    font-size: 40px;
    color: #e59500;
    margin-bottom: 20px;
}
.counter-col p {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
}


/*****-----*****-----*****-----*****
    15. Blog CSS
*****-----*****-----*****-----*****/
.blog-area {
    padding: 150px 0 120px;
    position: relative;
}
.blog-col {
    margin-bottom: 30px;
    position: relative;
}
.blog-img {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-col:hover .blog-img img {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}
.overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    z-index: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.blog-col:hover .overlay:before {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.post-date {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    padding: 10px 20px;
    background: #e59500;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.post-date:after {
    content: "";
    position: absolute;
    right: -40px;
    top: 0;
    width: 0;
    height: 100%;
    border-left: 40px solid #e59500;
    border-top: 43px solid transparent;
}
.post-date h3 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 0;
}
.blog-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
}
.blog-col h4 a {
    color: #111111;
}
.blog-col h4 a:hover {
    color: #e59500;
}
.info-bar {
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 20px;
    padding: 10px 15px 10px 0;
}
.info-bar ul li {
    float: left;
    margin-right: 20px;
}
.info-bar ul li i {
    margin-right: 5px;
    color: #e59500;
}
.info-bar ul li a {
    color: #333333;
}
.blog-col .embed-responsive {
    margin-bottom: 20px;
}
.blog-col .btn {
    margin-top: 15px;
}



/* Blog Single CSS */
.blog-details-area {
    padding: 150px 0;
    text-align: left;
    background: #ffffff;
}
.blog-details-area .blog-box {
    background: transparent;
}
.blog-details-area .blog-date {
    margin-bottom: 30px;
    background: #f5f5f5;
}
.blog-details-area .blog-date ul {
    padding: 10px 20px;
}
.blog-details-area .blog-date ul li {
    margin-right: 10px;
    display: inline-block;
}
.blog-details-area .blog-date ul li i {
    margin-right: 5px;
    color: #e59500;
}
.blog-details-area .blog-date ul li a {
    color: #333333;
}
.blog-details-area .blog-date ul li a:hover {
    color: #3AA6F8;
}
.blog-details-area .blog-content h2 {
    margin-top: 30px;
}
.blog-details-area .blog-content p {
    margin-bottom: 0;
}
.highlight-text {
    padding: 20px;
    background: #F5F5F5;
    margin-bottom: 30px;
    margin-top: 30px;
    border-left: 3px solid #e59500;
}
.highlight-text p {
    font-weight: bold;
    margin-bottom: 0;
    color: #353535;
    font-style: italic;
}
.comment-row {
    margin-bottom: 60px;
}
.comment-row h3 {
    margin-bottom: 50px;
    margin-top: 20px;
}
.comment-row h3 a {
    font-size: 18px;
    color: #111111;
}
.comment-item {
    margin-bottom: 30px;
    position: relative;
    padding-left: 100px;
}
.comment-item img {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.comment-item h5 {
    font-size: 18px;
    margin-bottom: 10px;
}
.comment-item a i {
    color: #e59500;
}

.form-area .hvr-bounce-to-right {
    margin-top: 0;
    margin-bottom: 0;
}
.middel-item {
    margin-left: 50px;
}
.form-area .btn {
    margin-top: 30px;
}
.full-hight {
    height: 100%;
}



/*****-----*****-----*****-----*****
    16. Sponsor CSS
*****-----*****-----*****-----*****/
.sponsor-area {
    padding: 150px 0 120px; 
    background: #eff7fe;
}
.sponsor-col {
    margin-bottom: 30px;
}
.sponsor-col img {
    width: 150px;
    height: auto;
    margin: 0 auto;
    display: block;
}



/*****-----*****-----*****-----*****
    17. Contact CSS
*****-----*****-----*****-----*****/
.contact-area {
    padding: 150px 0 120px;
    position: relative;
}
.contact-info-box {
    margin-bottom: 30px;
}
.info-box {
    text-align: center;
    position: relative;
    padding: 40px 50px;
    background: #eff7fe;
}
.info-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 60px;
    height: 60px;
    border: 2px solid #e59500;
    border-bottom: none;
    border-right: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.info-box:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 60px;
    height: 60px;
    border: 2px solid #e59500;
    border-top: none;
    border-left: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.info-box:hover:before, .info-box:hover:after {
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.info-box i {
    width: 70px;
    height: 70px;
    color: #e59500;
    background: #ffffff;
    text-align: center;
    font-size: 35px;
    line-height: 70px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border: 1px solid #cccccc;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
/*.contact-area form {
    padding-bottom: 0;
}*/
.contact-area form .form-control {
    height: 45px;
    border-radius: 0;
    background: transparent;
    color: #676767;
}
.contact-area form .textarea-hight-full {
    height: 100%;
}
.contact-area form .btn {
    margin-top: 30px;
}
.map-col {
    display: block;
}


/*****-----*****-----*****-----*****
    18. Page title CSS
*****-----*****-----*****-----*****/
.page-title-section {
    padding: 150px 0 150px;
    background: url(../images/bg/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page-title-section.over-layer-black::before {
    background: rgba(0,0,0,0.7);
}
.page-title-section h2 {
    font-size: 45px;
    color: #e59500;
}
.page-title-section p {
    color: #ffffff;
}
.page-title-section p a {
    color: #ffffff;
}
.page-title-section p a:hover {
    color: #e59500;
}



/*****-----*****-----*****-----*****
    19. Footer CSS
*****-----*****-----*****-----*****/
.footer-area {
    padding: 150px 0 0;
    background: #ffffff;
    background-image: url(../images/bg/footer.png); 
    background-size: cover;
    background-position: center;
}
.footer-area.over-layer-white:before {
    background: rgba(255,255,255,0.85);
}
.footer-area .form-control {
    color: #333333;
    height: 50px;
    background: rgba(255,255,255,0.4);
}
.footer-area .btn {
    height: 50px;
    padding: 12px 25px;
}
.footer-col ul {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.footer-col ul li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}
.footer-col ul li a img {
    width: 50px;
    margin: 0 auto;
}
.copyright {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}
.copyright p a {
    color: #e59500;
}



/*****-----*****-----*****-----*****
    20. Dark Version CSS 
*****-----*****-----*****-----*****/
.dark-version {
    background: #000000;
    color: #dddddd;
}
.dark-version h1,
.dark-version h2,
.dark-version h3,
.dark-version h4,
.dark-version h5,
.dark-version h6 {
    color: #f1f1f1;
}
.dark-version .pricing-table, 
.dark-version .tab-panels .panel, 
.dark-version .venue-area,
.dark-version .sponsor-area,
.dark-version .info-box {
    background: #323232;
}
.dark-version .schedule-box {
    background: #000000;
}
.dark-version .tab-panels ul li {
    background: #ababab;
}
.dark-version .tab-panels ul li.active {
    color: #fff;
    background: #e59500;
}
.dark-version .venue-details {
    background: #000000;
}
.dark-version .info-bar ul li a {
    color: #a5a5a5;;
}
.dark-version .blog-col h4 a {
    color: #f1f1f1;
}
.dark-version .btn-style {
    background: #dddddd;
    color: #333333;
}
.dark-version .footer-area.over-layer-white:before {
    background: rgba(54, 54, 54, 0.9);
}
.dark-version .form-control {
    border-color: #5d5d5d;
}
.dark-version .main-header .scrolling-header {
    background: #000000;
    border-bottom: 1px solid #717171;
}
.dark-version .main-header .navbar-light.scrolling-header .navbar-nav .nav-link {
    color: #dddddd;
}




/*****-----*****-----*****-----*****
    21. Demo List Page CSS 
*****-----*****-----*****-----*****/
.main-demo-heading {
    padding: 120px 0;
    background: #f3f3f3;
    background-image: url(../images/bg/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main-demo-heading.over-layer-black:before {
    background: rgba(0,0,0,0.5);
}
.main-demo-heading h1 {
    font-family: 'Lobster', cursive;
    color: #e59500;
    font-size: 70px;
    font-weight: normal;
}
.main-demo-heading h2 {
    color: #f1f1f1;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
.buy-btn {
    background: #e59500;
    color: #ffffff;
    border: 1px solid #e59500;
    padding: 10px 40px;
    border-radius: 0;
    text-transform: capitalize;
}
.buy-btn:hover {
    background: #e59500;
    color: #ffffff;
    border-color: #e59500;
}




/* Features CSS */

.template-features-area {
    padding: 100px 0 100px;
    text-align: center;
}
.template-features-area h1 {
    margin-bottom: 50px;
}
.template-features-col {
    margin-bottom: 20px;
}
.template-features-col h4 {
    font-size: 16px;
    background: #f5f5f5;
    padding: 15px 10px;
    margin-bottom: 10px;
}
.template-features-col h5 {
    margin-bottom: 80px;
    color: #e59500;
    font-size: 18px;
    text-transform: capitalize;
}
.template-features-col h1 {
    font-size: 28px;
    margin-bottom: 50px;
}
.template-features-col p {
    font-size: 14px;
}
.template-features-col p a {
    color: #111111;
    text-transform: capitalize;
}



/* Live Preview CSS */
.live-preview-area {
    text-align: center;
    padding-bottom: 50px;
}
.live-preview-area h3 {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 60px;
}
.live-preview-area h3 a {
    color: #111111;
}
.live-preview-area h3 a:hover {
    color: #e59500;
}
.demo-box {
    margin-bottom: 40px;
    position: relative;
    height: 335px;
    overflow: hidden;
    -webkit-box-shadow: -2px 3px 35px -5px rgba(74,74,74,1);
    -moz-box-shadow: -2px 3px 35px -5px rgba(74,74,74,1);
    box-shadow: -2px 3px 35px -5px rgba(74,74,74,1);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.demo-box:hover {
    box-shadow: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.demo-over-layer {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.demo-box:hover .demo-over-layer {
    bottom: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.demo-over-layer h4 a {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -10px;
    text-align: center;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.demo-over-layer h4 a:hover {
    color: #e59500;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.more-demo-link p {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
}
.coming-soon-text {
    font-size: 36px;
    background: #f5f5f5;
    padding: 80px 20px;
}
.coming-pages {
    background: #f5f5f5;
    text-align: center;
    padding: 30px 30px;
}
.coming-pages h2 {
    font-size: 36px;
    line-height: 1.5;
}
